@import url("../var.css");

section#hero-content {
    margin: 0 4rem;
    padding: 8rem 0;
    border-bottom: 0.5px dashed gray;
}

section#hero-content .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

section#hero-content h1 {
    font-size: 2.5rem; /* Default size for larger screens */
    font-weight: 700;
    color: darkslategray;
}

section#hero-content p {
    font-size: 1rem; /* Default size for larger screens */
    color: darkslategray;
}

/* ----Media Queries (Mobile-First)---- */

/* Mobile */
@media screen and (max-width: 576px) {
    section#hero-content {
        margin: 0 1rem;
        padding: 4rem 0;
    }
    section#hero-content h1 {
        font-size: 1.5rem;
    }
    section#hero-content p {
        font-size: 0.875rem;
    }
}

/* Tablet */
@media screen and (min-width: 577px) and (max-width: 768px) {
    section#hero-content {
        margin: 0 2rem;
        padding: 6rem 0;
    }
    section#hero-content h1 {
        font-size: 2rem;
    }
    section#hero-content p {
        font-size: 1rem;
    }
}

/* Desktop */
@media screen and (min-width: 769px) and (max-width: 1200px) {
    section#hero-content {
        margin: 0 3rem;
        padding: 7rem 0;
    }
    section#hero-content h1 {
        font-size: 2.25rem;
    }
    section#hero-content p {
        font-size: 1rem;
    }
}

/* Large Screens */
@media screen and (min-width: 1201px) {
    section#hero-content {
        margin: 0 4rem;
        padding: 8rem 0;
    }
    section#hero-content h1 {
        font-size: 2.5rem;
    }
    section#hero-content p {
        font-size: 1rem;
    }
}